/* === Common === */
  BODY {
   font-family: Verdana,Arial,Helvetica,sans-serif;
   font-size: 12px;
   background-color: #ffffff;
   color: #0000ee;
   background-image:url(images/aqua.jpg);
   background-attachment:fixed;
  }
  P {
   text-align: justify;
  }
  H1 {
   text-align: center;
   font-size: 150%;
  }
  H2 {
   text-align: center;
   font-size: 140%;
  }
  H3 {
   text-align: center;
   font-size: 130%;
  }
  .footer {
   font-size: 9px;
   font-weight: bold;
   color: #ffffff;
   margin-top: 5;
  }
  .footer a:link { color: #eeeeee; }
  .footer a:visited { color: #dddddd; }
  .footer a:hover { color: #000000; }

/* === Tables === */

  TABLE {
   background-image:url(images/aqua-light.jpg);
   background-attachment:fixed;
   empty-cells: show;
   border:0;
   border-spacing:0;
  }
  TABLE.nav {
   background-image:url(images/aqua.jpg);
   border-style: ridge;
   border-width: 2;
   border-color: #3399ff;
   border-collapse: separate;
   border-spacing: 1;
  }
  TABLE.transp {
   background-image:url(images/aqua.jpg);
   border-spacing:0;
  }
  TD,TH {
   font-size: 80%;
   font-family: Verdana,Arial,Helvetica,sans-serif;
  }
  TH {
   background-image:url(images/sand-light.jpg);
  }
  TH a:hover { background: #ffff00; }
  TD {
/*   background-color: #FFFFCC; */
  }
  TH.big {
    font-size: 120%;
  }
  TH.head {
    font-size: 105%;
    font-weight: bold;
  }
  .td_blank {
   background-color: #ffffff;
   border: 0;
  }
  .td_transp {
   background-color: transparent;
   background-image:url(images/aqua.jpg);
   text-color:#ffffff;
  }
  .tab_active, .tab_inactive {
   border: 0;
   border-spacing:0;
   margin-top: 0;
   margin-bottom: 0;
   font-weight: bold;
   font-size: 90%;
  }
  .tab_active {
   background-image:url(images/sand-light.jpg);
  }
  .tab_inactive {
   background-image:url(images/aqua-light.jpg);
  }
  .tab_active a, .tab_active a:visited {
    color: #0000ff;
    text-decoration: none;
  }
  .tab_active a:hover { background: #ffff00; }
  .tab_inactive a, .tab_inactive a:visited {
    color: #000000;
    text-decoration: none;
  }
  .tab_incative a:active { background: transparent; }

/* === Links === */

  a {
    text-decoration: none;
  }
  a:active {
    background: #ffff00;
    color: #000099;
  }
  a:hover,.tab_inactive a:hover {
    background: #ccffff;
    color: #000099;
  }
  a:link {
    text-decoration: none;
    color: #000099;
  }

/* === Images === */

  span.thumbnail-right,span.thumbnail-left,span.thumbnail {
    padding:2px;
  /* border:1px solid #8888aa; */
    background: #e5e5e5;
    margin:0.3em 0 0.5em;
    font-size:75%;
    text-align:center;
    color: #000000;
  }
  span.thumbnail {
    margin-top:0;
    float:right;
    margin-left:0.2em;
    margin-right:0.2em;
  }
  span.thumbnail-right {
    float:right;
    margin-left:0.5em;
  }
  span.thumbnail-left {
    float:left;
    margin-right:0.5em;
  }
  IMG { border:0; }
//--></style>
