<html><head>
 <title>Izzys Dive Log: Locations</title>
 <meta name="description" content="Locations from Izzys Dive Logbook">
 <meta name="author" content="Izzy">
 <link rel="stylesheet" type="text/css" href="../templates/default/divelog.css">
</head>
<body text="#000000">

<table cellpadding="5" align="center" style="background-color:transparent;" border="0">
 <tr><td width="33%" align="center" valign="middle" style="background-color:transparent;">
   <PDL_prev_divesite forceref imgsrcnb="../../clipart/dive_left.gif" imgalign="top" ></PDL_prev></td>
  <td width="34%" valign="middle" align="center" style="background-color:transparent;">
   <PDL_html_index forceref overwrite text="index" imgsrcnb="../../clipart/dive_flag2.gif" imgalign="top" >index</PDL_index></td>
  <td width="33%" valign="middle" align="center" style="background-color:transparent;">
   <PDL_next_divesite forceref imgsrcnb="../../clipart/dive_right.gif" imgalign="top" ></PDL_next></td></tr>
</table>
<hr noshade size="1">

<h2 align="center"><img src="../../clipart/globe.gif" width="59" height="59" border="0" alt="Globe" align="middle"> &nbsp;&nbsp; <PDL_location >loc</PDL_location> / <PDL_place >place</PDL_place></h2>

<table cellpadding="2" border="0" align="center">
 <tr>
  <th style="text-align:right">latitude:</th> <td> <PDL_place_latitude>0</PDL_place_latitude> </td>
  <td class="td_blank"></td>
  <th style="text-align:right">longitude:</th> <td> <PDL_place_longitude>0</PDL_place_longitude> </td>
 </tr><tr>
  <th style="text-align:right">altitude:</th> <td><PDL_place_altitude>0 m </PDL_place_altitude></td>
  <td class="td_blank"></td>
  <th style="text-align:right">max depth:</th> <td><PDL_place_depth>0 m</PDL_place_depth></td>
 </tr><!-- tr>
  <td colspan="5" style="text-align:center">(<PDL_place_water></PDL_place_water> / <PDL_place_type></PDL_place_type>)</td>
 </tr -->
</table>
<br>
<table cellpadding="2" border="0" align="center">
 <tr>
  <td><PDL_place_description></PDL_place_description><br></td>
 </tr>
</table>

<hr noshade size="1">
<table cellpadding="5" align="center" style="background-color:transparent;" border="0">
 <tr><td width="33%" align="center" valign="middle" style="background-color:transparent;">
   <PDL_prev_divesite forceref imgsrcnb="../../clipart/dive_left.gif" imgalign="top" ></PDL_prev></td>
  <td width="34%" valign="middle" align="center" style="background-color:transparent;">
   <PDL_html_index forceref overwrite text="index" imgsrcnb="../../clipart/dive_flag2.gif" imgalign="top" >index</PDL_index></td>
  <td width="33%" valign="middle" align="center" style="background-color:transparent;">
   <PDL_next_divesite forceref imgsrcnb="../../clipart/dive_right.gif" imgalign="top" ></PDL_next></td></tr>
</table>
</body>
</html>