/* === Common === */
  BODY {
   font-family: Verdana,Arial,Helvetica,sans-serif;
   font-size: 12px;
   background-color: #ffffff;
   color: #0000ee;
   link: #bb0000;
   vlink: #ff0000;
   background-image:url(images/bg.gif);
   background-attachment:fixed;
  }
  P {
   text-align: justify;
  }
  H1 {
   text-align: center;
   font-size: 150%;
  }
  H2 {
   text-align: center;
   font-size: 140%;
  }
  H3 {
   text-align: center;
   font-size: 130%;
  }
  .footer {
   font-size: 9px;
   color: #000000;
   margin-top: 5;
  }

/* === Tables === */

  TABLE {
   background-color: #CCFFFF;
   empty-cells: show;
  }
  TD,TH {
   font-size: 80%;
   font-family: Verdana,Arial,Helvetica,sans-serif;
  }
  TD {
   background-color: #FFFFCC;
  }
  .td_blank {
   background-color: #ffffff;
   border: 0;
  }
  .td_transp {
   background-color: transparent;
   border: 0;
  }
  .td_big {
    font-size: 100%;
  }
  .tab_active {
   background-color: #cfcfcf;
   border: 0;
  }
  .tab_inactive {
   background-color: #eeeeee;
   border: 0;
  }

/* === Links === */

  a {
    text-decoration: none;
    font-style: italic;
  }
  a:active {
    background: #ffff00;
    color: #000099;
  }
  a:hover {
    background: #ccffff;
    color: #000099;
  }
  a:link {
    text-decoration: none;
    color: #000099;
  }

/* === Images === */

  span.thumbnail-right,span.thumbnail-left,span.thumbnail {
    padding:2px;
  /* border:1px solid #8888aa; */
    background: #e5e5e5;
    margin:0.3em 0 0.5em;
    font-size:75%;
    text-align:center;
    color: #000000;
  }
  span.thumbnail {
    margin-top:0;
    float:right;
    margin-left:0.2em;
    margin-right:0.2em;
  }
  span.thumbnail-right {
    float:right;
    margin-left:0.5em;
  }
  span.thumbnail-left {
    float:left;
    margin-right:0.5em;
  }
  IMG { border:0; }
//--></style>
